---
// React Image Workspace 集成
import ImageWorkspace from "./react/ImageWorkspace.tsx";
---

<div id="react-image-workspace-root" class="react-image-workspace-container">
  <ImageWorkspace client:visible />
</div>

<style>
  #react-image-workspace-root {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
    order: 4; /* 在最右侧 */
  }

  .react-image-workspace-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    order: 4; /* 在最右侧 */
  }
</style>
